@media screen and (max-width: 550px) {
    .img-thumbnail {
        margin-left: 10%;
        margin-right: 10%;
        min-width: 80%;
        max-width: 80%;
        min-height: 60vh;
        max-height: 60vh;
        background-color: black;
        border: 2px solid white;
        opacity: 1;
        transition: opacity 0.6s;
    }
    .movie-grid span {
        margin-top: 5px;
        margin-bottom: 10px;

        margin-left: 9%;
        font-size: 20px;
        font-weight: 400;
        background-color: black;
    }

    .movie-grid h4 {
        margin-left: 11%;
        color: aliceblue;
        font-size: 25px;

        font-weight: 300;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .movie-grid {
        height: auto;
        margin-bottom: 70px;
        border-radius: 5px;
    }
    .searchbar .input-group {
        display: flex;
        flex: content;

        margin-top: 50px;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }
    .searchbar {
        margin-bottom: 20px;
    }
    .results-found {
        color: aliceblue;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        height: 60px;
        height: auto;
        margin-bottom: 40px;
    }
    .movie-thumbnail {
        position: relative;
        background: black;
    }
    .movie-thumbnail .view-details {
        width: 70%;
        height: 100%;
        font-size: 20px;
        font-weight: 600;
        color: black;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 0.8s;
    }

    /* hover properties*/

    .movie-thumbnail:hover .img-thumbnail {
        border: 2px solid green;
    }

    /* movie component properties*/
    .movie-poster {
        width: 80%;
        height: 70vh;
    }
    .movie-details {
        margin-top: 6vh;
    }
    .movie-desc {
        margin-left: 10%;
    }
    .movie-title {
        font-size: 10vw;
        font-weight: 700;
        color: white;
    }
    .movie-year {
        margin-top: 20px;
        color: rgb(201, 201, 201);
        font-size: 30px;
        font-weight: 500;
    }
    .movie-year .badge {
        background-color: rgb(255, 153, 0);
        margin-right: 12px;
    }
    .movie-genre {
        font-size: 20px;
        font-weight: 500;
        color: azure;
    }
    .movie-rating {
        display: flex;
        margin-top: 5vh;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .movie-rating .badge {
        height: auto;
        align-items: center;
        font-size: 18px;
        margin-right: 5vw;
        color: black;
        background-color: rgb(255, 251, 3);
    }
    .movie-rating i {
        margin-top: 3px;
        font-size: 25px;
        margin-left: 1vw;
        color: rgb(1, 150, 1);
    }
    .movie-plot {
        color: aliceblue;
        margin-top: 7vh;
        margin-left: 5%;
        margin-right: 2%;
        margin-bottom: 10vh;
    }
    .movie-people {
        color: white;
        margin-left: 3%;
        margin-top: 5vh;
    }
    .movie-cast h3 {
        font-size: 30px;
        margin-top: 10vh;
        text-align: center;
        border-bottom: 5px solid rgba(255, 255, 255, 0.4);
        border-radius: 20%;
        padding-bottom: 2vh;
        margin-bottom: 5px;
    }
    .movie-cast h5 {
        margin-top: 3vh;
        text-align: center;
        font-weight: 300;
    }
    .movie-cast ul li {
        padding-left: 0;
        list-style-type: none;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .movie-cast a {
        text-decoration: none;
        color: white;
    }
    .movie-cast a:hover {
        color: aqua;
    }
    .fa-youtube-play {
        font-size: 2em;
        color: red;
        margin-right: 8px;
    }
    .movie-trailer {
        margin-top: 8vh;
        display: flex;
        flex: content;
        justify-content: center;
    }
    .movie-trailer a {
        display: flex;
        width: fit-content;
        text-decoration: none;
    }
    .movie-trailer h5 {
        display: flex;
        font-size: 25px;
        align-items: center;
        color: aliceblue;
    }

    .movie-trailer h5:hover {
        color: green;
    }
}

/*






















*/
@media screen and (min-width: 550px) {
    .grid-img {
        min-width: 100%;
        max-width: 100%;
        min-height: 60vh;
        max-height: 60vh;
        border: 2px solid white;
        background-color: black;
        opacity: 1;
        transition: opacity 0.6s;
    }
    .movie-grid span {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        background-color: black;
    }
    .movie-grid h4 {
        margin-left: 10px;
        color: aliceblue;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .movie-grid {
        height: auto;
        margin-bottom: 50px;
        border-radius: 5px;
    }
    .form-outline input {
        width: 25vw;
        height: 6vh;
    }
    #submit-btn {
        width: 7vw;
        height: 6vh;
        font-size: 20px;
    }
    .searchbar .input-group {
        display: flex;
        flex: content;
        margin-top: 50px;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }
    .searchbar {
        margin-bottom: 40px;
    }
    .results-found {
        color: aliceblue;
        font-size: 20px;
        text-align: center;
        height: 60px;
        height: auto;
        margin-bottom: 40px;
    }

    .movie-thumbnail {
        position: relative;
        background: black;
        z-index: 10;
    }
    .movie-thumbnail .view-details {
        width: 60%;
        font-size: 20px;
        font-weight: 600;
        color: black;
        background-color: white;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 0.8s;
    }

    /* hover classes*/
    .movie-thumbnail:hover .view-details {
        opacity: 1;
    }
    .movie-thumbnail:hover .grid-img {
        opacity: 0.3;
    }

    /* movie component classes*/
    .movie-poster {
        width: 80%;
        height: 70vh;
    }
    .movie-details {
        display: flex;
        margin-top: 6vh;
    }
    .movie-title {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    .movie-year {
        margin-top: 20px;
        color: rgb(201, 201, 201);
        font-size: 30px;
        font-weight: 500;
    }
    .movie-year .badge {
        background-color: rgb(255, 153, 0);
        margin-right: 12px;
    }
    .movie-genre {
        font-size: 20px;
        font-weight: 500;
        color: azure;
    }
    .movie-rating {
        display: flex;
        margin-top: 5vh;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .movie-rating .badge {
        height: auto;
        align-items: center;
        font-size: 18px;
        margin-right: 5vw;
        color: black;
        background-color: rgb(255, 251, 3);
    }
    .movie-rating i {
        margin-top: 3px;
        font-size: 25px;
        margin-left: 1vw;
        color: rgb(1, 150, 1);
    }
    .movie-plot {
        margin-left: 3%;
        color: aliceblue;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .movie-plot p {
        font-size: 18px;
        font-weight: 350;
    }
    .movie-people {
        display: flex;
        color: white;
        margin-left: 3%;
        margin-top: 5vh;
    }
    .movie-cast h3 {
        text-align: center;
        border-bottom: 5px solid rgba(255, 255, 255, 0.4);
        border-radius: 20%;
        padding-bottom: 2vh;
        margin-bottom: 5px;
    }
    .movie-cast h5 {
        margin-top: 3vh;
        text-align: center;
        font-weight: 300;
    }
    .movie-cast ul li {
        list-style-type: none;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .movie-cast a {
        text-decoration: none;
        color: white;
    }
    .movie-cast a:hover {
        color: aqua;
    }
    .fa-youtube-play {
        font-size: 2em;
        color: red;
        margin-right: 8px;
    }
    .movie-trailer {
        margin-top: 5vh;
    }
    .movie-trailer a {
        width: fit-content;
        display: flex;
        text-decoration: none;
    }
    .movie-trailer h5 {
        display: flex;
        font-size: 25px;
        align-items: center;
        color: aliceblue;
    }

    .movie-trailer h5:hover {
        transform: scale(1.2);
        transition-duration: 0.6s;
    }
}

/*






















*/

.homepage {
    background-color: rgba(0, 0, 0, 1);
    min-height: 110vh;
}

.spinner-position {
    margin-top: 25vh;
    margin-bottom: 10vh;
}

.homepage-titles {
    font-size: 40px;
    font-weight: 500;
    color: white;
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.navbar {
    height: 100px;
}

.navbar-dark {
    background-color: black;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.fa-star {
    color: green;
}
